body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6em;
  margin: 0;
  border: 1px black solid;
}

a {
  color: white;
}

a:visited {
  color: white;
}

.container {
  width: 99.5%;
  height: 99.5%;
  margin: auto;
}

h2 {
  background-color: white;
  color: black;
  font-size: 14px;
  margin: 20px 0px 0px 0px;
}

.box-1 {
  background-color: rgb(162, 0, 0);
  color: white;
  padding: 20px 20px 50px 20px;
  margin: 3px 1px 0px 1px;
}

.box-1 h1 {
  font-size: 30px;
  font-weight: 400;
  float: left;
}

.box-1 a {
  float: right;
}

.p-box {
  margin: 0px 1px;
  background-color: #383838;
  padding: 10px;
}

.p-box ul{
  padding:0;
  padding-left: 10px;
  text-align: right;
  list-style: none;
}

.p-box ul a {
  padding: 10;
}

#main-block {
  float: left;
  width: 75%;
  box-sizing: border-box;
}

#side-bar {
  float: right;
  width: 25%;
  box-sizing: border-box;
}
